# External local-only profile. Generated credentials belong in private runtime/config.
server.address=127.0.0.1
server.port=@BACKEND_PORT@
server.servlet.context-path=/api
spring.datasource.dynamic.datasource.master.url=jdbc:mysql://127.0.0.1:@MYSQL_PORT@/teachingopen_dev?characterEncoding=UTF-8&useUnicode=true&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
spring.datasource.dynamic.datasource.master.username=teaching_dev
spring.datasource.dynamic.datasource.master.password=@MYSQL_APP_PASSWORD@
spring.datasource.dynamic.datasource.master.driver-class-name=com.mysql.cj.jdbc.Driver
spring.redis.host=127.0.0.1
spring.redis.port=@REDIS_PORT@
spring.redis.database=1
spring.redis.password=@REDIS_PASSWORD@
spring.quartz.auto-startup=false
spring.quartz.overwrite-existing-jobs=false
spring.quartz.jdbc.initialize-schema=never
spring.datasource.druid.stat-view-servlet.enabled=false
spring.datasource.druid.web-stat-filter.enabled=false
spring.mail.host=127.0.0.1
spring.mail.port=9
spring.mail.username=localtest@example.invalid
spring.mail.password=disabled
justauth.enabled=false
ueip=false
jeecg.domain=http://127.0.0.1:@FRONTEND_PORT@
jeecg.uploadType=local
jeecg.path.upload=@RUNTIME@/uploads
jeecg.path.webapp=@RUNTIME@/webapp
jeecg.path.staticDomain=/api/sys/common/static
jeecg.filePreview=local
jeecg.file-view-domain=http://127.0.0.1:9
jeecg.elasticsearch.check-enabled=false
jeecg.elasticsearch.cluster-nodes=127.0.0.1:9
jeecg.qiniu.accessKey=disabled
jeecg.qiniu.secretKey=disabled
jeecg.qiniu.staticDomain=http://127.0.0.1:9
jeecg.qiniu.bucketName=localtest
jeecg.qiniu.area=z0
jeecg.oss.endpoint=http://127.0.0.1:9
jeecg.oss.accessKey=disabled
jeecg.oss.secretKey=disabled
jeecg.oss.bucketName=localtest
jeecg.oss.staticDomain=http://127.0.0.1:9
jeecg.sms.accessKeyId=disabled
jeecg.sms.accessKeySecret=disabled
jeecg.minio.minio_url=http://127.0.0.1:9
jeecg.minio.minio_name=disabled
jeecg.minio.minio_pass=disabled
jeecg.minio.bucketName=localtest
cas.prefixUrl=http://127.0.0.1:9
swagger.enable=false
logging.level.org.jeecg.modules.system.mapper=WARN
logging.level.org.jeecg.modules.teaching.mapper=WARN
logging.level.org.jeecg.modules.wechat.mapper=WARN
logging.level.org.jeecg.modules.shiro=WARN

# Browser cookies do not distinguish ports; isolate concurrent local candidates.
jeecg.media.cookie-name=teaching_media_@BACKEND_PORT@
